.footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 24px;
}

/* How do I get the footer to stay 24 px from the bottom of the viewport? */

.footer__name, .footer__year{
    margin: 0;
}